<%- include('../partials/navbar') %>
<header>
  <div style="background-color: #FDFDFD; border-radius:5px; padding: 5px; margin:5px">
    <form action="/result" method="post">
      <div class="row">
        <div class="col-sm-6">
          <label name="address"><b>Adresse</b></label>
          <input type="text" class="form-control" placeholder="Adresse" name="address"/>
        </div>
        <div class="col-sm-6">
          <label name="date"><b>Datum</b></label>
          <input type="datetime-local" class="form-control" name="date"/>
        </div>
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="col-sm-6">
          <label name="seat"><b>Block</b></label>
          <input type="text" class="form-control" placeholder="Block" name="block" />
        </div>
        <div class="col-sm-6">
          <button
            type="submit"
            class="btn"
            style="background-color: #f3ac26; color: #060604; position: relative; float: right"
          >
            Anwenden
          </button>
        </div>
      </div>
    </form>
  </div>
</header>
<body>
