<header>
  <div class="container" style="background-color: #FDFDFD; margin: 5px; border-radius: 5px; padding: 5px">
    <form action="">
      <div class="row">
        <div class="col-sm-5">
          <label name="address"><b>Adresse</b></label>
          <input type="text" class="form-control" placeholder="Adresse" />
        </div>
        <div class="col-sm-5">
          <label name="date"><b>Datum</b></label>
          <input type="datetime-local" class="form-control" />
        </div>
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="col-sm-5">
          <label name="seat"><b>Sitznummer</b></label>
          <input type="text" class="form-control" placeholder="seat number" />
        </div>
        <div class="col-sm-5">
          <button
            type="button"
            class="btn"
            style="background-color: #f3ac26; color: #060604; position: relative; float: right"
          >
            Anwenden
          </button>
        </div>
      </div>
    </form>
  </div>
</header>
<body></body>
