<%- include('../partials/navbar') %>
<header style="background-color: #F3AC26;">
  <div style="background-color: #F3AC26; padding: 5px;">
    <form action="/result" method="post">
      <div class="row">
        <div class="col-sm-6">
          <label name="address"><b>Adresse</b></label>
          <input type="text" class="form-control" placeholder="Adresse" name="address"/>
        </div>
        <div class="col-sm-6">
          <label name="date"><b>Datum</b></label>
          <input type="datetime-local" class="form-control" name="date"/>
        </div>
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="col-sm-6">
          <label name="seat"><b>Block</b></label>
          <input type="text" class="form-control" placeholder="Block" name="block" />
        </div>
        <div class="col-sm-6" style="margin: auto">
          <button
            type="submit"
            class="btn btn-dark"
            style=" position: relative; float: right"
          >
            Anwenden
          </button>
        </div>
      </div>
    </form>
  </div>
</header>
<body>
