<!-- Image and text -->
<nav class="navbar">
    <div style="margin: auto">
      <img src="/img/logo_transparent.png" width="180" height="auto" class="d-inline-block align-top" alt="">
    </div>
  </nav>