<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/img/logo_transparent.png" width="180" height="auto" class="d-inline-block align-top" alt="">
    </a>
  </nav>